@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
h4,
h1 {
  margin: 0;
  padding: 0;
  color: rgb(133, 156, 255);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d2dbee;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Signika", sans-serif;
  max-width: 50%;
  .calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #d2dbee;
    box-shadow: inset 9.91px 9.91px 15px #bfc7d9,
      inset -9.91px -9.91px 15px #e5efff;
    .screen {
      background: #eef0f4;
      border-radius: 1rem;
      box-shadow: inset 9.91px 9.91px 15px #d9dade,
        inset -9.91px -9.91px 15px #ffffff;
      height: 10rem;
      width: 85%;
      max-width: 85%;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 2rem;
      h1 {
        font-size: 3rem;
      }
      h4 {
        margin-bottom: 2rem;
        font-size: 2rem;
        max-width: 100%;
      }
    }
    .keypad {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem 2rem;
      button {
        padding: 0.5rem 1.2rem;
        background: #d2dbee;
        border-radius: 15%;
        box-shadow: inset 8.41px 8.41px 26px #a0a6b5,
          inset -8.41px -8.41px 26px #ffffff;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        font-family: "Signika", sans-serif;
        &:hover {
          background: rgb(202, 164, 252);
          border-radius: 15%;
          box-shadow: inset 8.41px 8.41px 26px #989db2,
            inset -8.41px -8.41px 26px #f8ffff;
          &:nth-child(1) {
            background: rgba(252, 147, 147, 0.829);
          }
          &:nth-child(2) {
            background: rgba(252, 147, 147, 0.829);
          }
          &:nth-child(3) {
            background: rgba(252, 147, 147, 0.829);
          }
        }
        &:nth-child(1) {
          color: rgb(252, 84, 84);
        }
        &:nth-child(2) {
          color: rgb(252, 84, 84);
        }
        &:nth-child(3) {
          color: rgb(252, 84, 84);
        }
        &:nth-child(4n + 4) {
          &:hover {
            background: rgb(183, 255, 176);
          }
        }
      }
    }
  }
}
